html{
    background-color: bisque;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#logo{
    height: 75px;
}
h1{
    font-size: 30;
    color: black;
}    
article>img{
    height: 75px;
}
